<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register</h1>
    <p>Please add your name to register for this event.</p>
    <a href="/page">Page</a>
    <form method="post" action="/confirm">
        <input type="text" name="fname">
        <input type="text" name="lname">        
        <button type="submit">Submit</button>
    </form>
</body>
</html>