body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
    color: #333;
}

.container {
    display: grid;
    grid-template-areas:
        "header header"
        "main aside"
        "footer footer";
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #ecf0f1;
}

main {
    grid-area: main;
    padding: 0px 20px 20px 20px;
    background-color: #ffffff;
}

aside {
    grid-area: aside;
    background-color: #e0e6ed;
    padding: 20px;
}

footer {
    grid-area: footer;
    background-color: #34495e;
    color: #ecf0f1;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tech-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tech-card {
    flex: 1 1 200px;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cef0d1;
}

.tech-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.additional-tech-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tech-item {
    flex: 1 1 200px;
    background-color: #aec1d6;
    padding: 15px;
    border-radius: 5px;
}

.tools-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.tool-group {
    flex: 1 1 200px;
    background-color: #eea9a9dc;
    padding: 15px;
    border-radius: 5px;
}

.social-links a {
    color: #ecf0f1;
    text-decoration: none;
    margin-left: 10px;
}

@media (max-width: 768px) {
    .container {
        grid-template-areas:
            "header"
            "main"
            "aside"
            "footer";
        grid-template-columns: 1fr;
    }

    .tools-container {
        flex-direction: column;
    }
}